body{
text-align: center;
}

.navbar-custom {
  background-color: #B5C7CF !important;
}

.nav-link {
  color: #2A2F34 !important;
}

.nav-link:hover {
  color: #8C949C !important;
}

.logoImg {
  width: 2em;
}




.mainBanner {
  background-image: url("images/bannerBackground.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0;
  position: relative;
  z-index: 1;
}

.foreground{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.4;
  z-index: -1;
}

.bannerMess {
  padding: 30px;
}

.text1 {
  z-index: 2;
  font-size: 50px;
  font-weight: bold;
  display: block;
  -webkit-text-stroke: 2px white;
}

.text2 {
  z-index: 2;
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
  -webkit-text-stroke: 1px white;
}

.bannerImgDiv {
  text-align: center;
}


.image1{
  text-align:left;
}

.missionPart{
  padding: 10px;
  margin-top:20px;
  margin-bottom: 40px;
}

/* .firstMission, .secondMission, .thirdMission {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

.firstMission{
  background-image: url("images/mission1.jpg");
  background-position: center;
  background-size: cover;
  padding: 0;
  position: relative;
  z-index: -2;
}

.secondMission{
  background-image: url("images/mission2.jpg");
  background-position: center;
  background-size: cover;
  padding: 0;
  position: relative;
  z-index: -2;
}
.thirdMission{
  background-image: url("images/mission3.jpg");
  background-position: center;
  background-size: cover;
  padding: 0;
  position: relative;
  z-index: -2;
}

.mission1Foreground{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.4;
  z-index: -1;
} */

.missionInfo{
  margin: 20px 0 20px 0;
}

.missionImg{
  width: 100%;
  clip-path: circle();
}

.missionTitle {
  font-size: 25px;
  font-weight: bolder;
  display: block;
  z-index: 1;
}

.contactPortion{
  background-color: #2A2F34;
  color: white;

  text-align: center;
  font-size: 15px;
  margin: 0;
}

.contactPortion a{
  color: white;
}

.contactPortion span{
  display: block;
  margin-top: 10px;
}

.socialMedia, .onlineShop, .contactUs{
  margin-top: 20px;
  margin-bottom: 20px;
}

.contactPortion h5{
  border-bottom: 2px solid white;
}

.image1{
  text-align: center;
}
